@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  background-color: white;
  font-family: "Roboto", sans-serif;
}

.App {
  padding: 20px;
  align-content: center;
}

.Container {
  display: flex;
  flex-direction: row;
}

.chartContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.videosContainer {
  display: flex;
  flex-direction: row;
}

.space {
  padding-right: 20px;
}

.bigSpace {
  padding-right: 160px;
}

.chart {
  width: 700px;
  height: 400px;
}

table {
  display: block;
  height: 400px;
  overflow-y: scroll;
  border-collapse: collapse;
  border: 1px solid rgb(224, 224, 224);
  margin-left: 50px;
}

th {
  position: sticky;
  top: 0;
  background: black;
  color: white;
}

th,
td {
  padding: 5px 10px 5px 10px;
  text-align: center;
}
